.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-right: 10px;
    padding-left: 10px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centre img {
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Abril Fatface', cursive;
}

p,
li {
    font-family: 'Josefin Sans', sans-serif;
}

img {
    max-width: 100%;
}

body.christmas {
    background-image: url("../images/christmas-bg.jpg");
    background-repeat: repeat;
    background-color: #000;
    color: #fff;
}